<ap-table
  *ngIf="dataSource['showTableSubject'] | async"
  [dataSource]="dataSource"
  [pagination]="pagination"
  (matSortChange)="onSortChange($event)"
  (changePagination)="onPagination($event)"
  [displayedColumns]="displayedColumns"
  matSort
  matSortDisableClear
>
  <ng-container matColumnDef="transactionNumber">
    <th mat-header-cell *matHeaderCellDef id="transactionNumber">Tanggal Kirim</th>
    <td
      [hidden]="dataSource.loading$ | async"
      mat-cell
      appEllipsifyMe
      *matCellDef="let element"
    >
      {{ element.transactionNumber}}
    </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-sort-header scope="col" mat-header-cell *matHeaderCellDef id="createdAt">
      Pesan
    </th>
    <td
      [hidden]="dataSource.loading$ | async"
      mat-cell
      appEllipsifyMe
      *matCellDef="let element"
    >
      {{ element.createdAt }}
    </td>
  </ng-container>

  <ng-container matColumnDef="vaSource">
    <th mat-header-cell *matHeaderCellDef id="vaSource">
      No. HP
    </th>
    <td
      [hidden]="dataSource.loading$ | async"
      mat-cell
      appEllipsifyMe
      *matCellDef="let element"
    >
      <div *ngIf=!element.phoneNumber>-</div>
      {{ element.phoneNumber }}
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef id="type">Status</th>
    <td
      [hidden]="dataSource.loading$ | async"
      mat-cell
      appEllipsifyMe
      *matCellDef="let element"
    >
      {{ element.type }}
    </td>
  </ng-container>

  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef id="product">Produk</th>
    <td
      [hidden]="dataSource.loading$ | async"
      mat-cell
      appEllipsifyMe
      *matCellDef="let element"
    >
      {{ element.product }}
    </td>
  </ng-container>

</ap-table>
